{% set static = url_for('static', filename='') %}
{% set img = static + 'img/' %}
{% set js = static + 'js/' %}
{% set css = static + 'css/' %}
{% set cards = img + 'cards/' %}
{% set template_name_ext = self._TemplateReference__context.name %}
{% set template_name_arr = template_name_ext.split(".") %}
{% set template_name = template_name_arr[0] %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ template_name }}</title>
        <link rel="stylesheet" href="{{ css }}simple-grid.min.css">
        <link rel="stylesheet" href="{{ css }}common.css">
        <link rel="stylesheet" href="{{ css }}spacing.css">
        <link rel="stylesheet" href="{{ css }}font-awesome-612.min.css"/>
    </head>
    
    <body>
        <div class="container">
        <div class="row">
            <img class="col-12" src="{{ img }}title.png">
        </div>
        {% block content %}{% endblock content %}
    </div>
    <script src="{{ js }}jquery-3.6.0.min.js"></script>
    {% block script %}{% endblock script %}
    <script src="{{ js }}{{ template_name }}.js"></script>
</body>
</html>