{% extends 'base.html' %}
{% block content %}
      
<div class="bordered">
    <div class="row">
        <span class="col-1"></span>
        <label class="col-2">Username:</label>
        <input class="col-8" type="text" id="username"/>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <label class="col-2">Password:</label>
        <input class="col-8" type="password" id="password1"/>
    </div>
    <div class="row">
        <span class="col-1"></span>
        <label class="col-2">Repeat:</label>
        <input class="col-8" type="password" id="password2"/>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <label class="col-10" id="message"></label>
    </div>
    <div class="row">
        <div class="col-7"></div>
        <a class="col-4 button" onclick='on_register();'>Register</a>
    </div>
</div>
<div class="row">
    <a class="col-12 button" href="/">Back</a>
</div>
{% endblock content %}
{% block script %}
{% endblock script %}
